<div class="component-warper">
   <h1 class="headline">PHOTO ALBUMS</h1>
  
   <form id="filter">
      <label><b>Filter albums by title: </b></label>
      <i class="fa fa-search"></i>
      <input type="text" name="title" placeholder="Search..." [(ngModel)]="term"/>   
   </form>

   <div class="gallery-warper">
       <div  class="flex-container">
           <div class="flex-item" *ngFor="let album of albums | filter:term" 
               [routerLink]="['/photo-album-detail/', album?.id]">
               <div class="image-warper">
                    <img src="../../assets/img/galery-background.jpg" alt="galery-background">
                    <div class="title-warper"><h1>{{album.title | capitalizeFirstLetter}}</h1></div>
                </div>
                <p>By: <b>{{album.creatorName}}</b></p>
           </div>                    
       </div>
   </div>
</div> 
